
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
.toolbar {
  width: 100%;
  height: 60px;
  display: block;
  align-items: center;
  background-color: #7efc12;
  color: white;
  font-weight: 600;
  margin-top: 30px;
}
