
footer {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin-top: auto;
}

footer a {
  display: flex;
  align-items: center;
}

.toolbar {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: 600;
  background-color: aliceblue;
}
