.thumbnail-width {
  width: 40px;
}

.mat-card {
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: white;
}


.overlay-layer {
  display: flex;
  align-content: stretch;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}

.error-box {
  background-color: #fdc68a99;
  border-left: .75rem solid #f26c4f78;
  padding: .75rem 1.5rem;
  font-size: .85rem;
  border-radius: 10px;
  width: 100%;
}

.info-box {
  background-color: #8ad9fd8f;
  border-left: .75rem solid #4fabf294;
  padding: .75rem 1.5rem;
  font-size: .85rem;
  border-radius: 10px;
  width: 100%;
}

.last-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0.75em .75em 0 .75em;
  height: 45px;
  box-shadow: 1px 1px 1px 0px lightgrey;
  margin-top: 8px;
  border-radius: 8px;
  background-color: white;
}

.buttons {
  margin: 10px;
  height: 60px;
}

.button-height {
  height: 38px;
  color: dodgerblue;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
