<div class="toolbar">
  <div class="brand"><img
    width="40"
    alt="Reddit Logo"
    src="../../../assets/logo_icon.png"
    class="d-inline-block align-top">
    <h2 class="title">Reddit</h2>
  </div>

  <div class="search">
    <input matInput type="search" (keyup.enter)="search()" class="search-bar" [(ngModel)]="searchText"
           placeholder="Search" aria-label="Search">
    <button mat-raised-button type="submit" class="search-btn" (click)="search()">Search</button>
  </div>

</div>
