<div class="toolbar">
  <div class="brand"><img
    alt="Reddit Logo"
    class="d-inline-block align-top"
    src="../../../assets/logo_icon.png"
    width="40">
    <h2 class="title">Reddit</h2>
  </div>

  <div class="search">
    <input (keyup.enter)="search()" [(ngModel)]="searchText" aria-label="Search" class="search-bar" matInput
           placeholder="Search" type="search">
    <button (click)="search()" class="search-btn" mat-raised-button type="submit">Search</button>
  </div>

</div>
