.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: 600;
  background-color: aliceblue;
  box-shadow: lavender;
}

.toolbar img {
  margin: 0 16px;
}

.title{
 margin:0;
}

.brand{
  width: 20%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.width-60{
  width: 60%;
}

.search-bar{
  height: 36px;
  margin: 0;
  border: 1px solid lightskyblue;
  border-radius: 16px;
  margin-right: 15px;
}

.search{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.search-btn{
  width: 85px;
}

.mat-input-element {
  padding: 0 15px 0px 15px;
}
